{% extends "base.html" %}
{% block title %}
Employee Platform
{% endblock title %}


{% block content %}
{{ super() }}
<div class="container-fluid">

    <div class="row">

      <div class="col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"></span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Search">
      </div>

    </div>

    <div class="row" id="main-content">

        <div class="col-md-3">
          <div class="row" id="profile-snapshot">
            <div class="row">
              <div class="col-sm-3" style="padding:23px 23px 23px 45px;">
                <img src="/static/img/copy1.png" class="center-block">
              </div>
              <div class="col-sm-9" style="padding:10px;">
                <p>Senior Advisor, Visual Designer<br>DELL<br>San Francisco, CA</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12" style="margin-left:10px;">
                <p>Connections: 118<br>
                  Posts: 435<br>
                  Experience: 275<br>
                  Personal Projects: 68<br>
                  Social: 92<br>
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            Calendar
          </div>
        </div>

        <div class="col-md-6">
          <p><input type="text" placeholder="Start a new post..." id="new-post"></p>

          <div class="post">
              <div class="col-sm-3">
                <img src="/static/img/copy1.png">
              </div>
              <div class="col-sm-9">
                <p>Art Vandelay</p>
              </div>

            <div><p id="post-text">Began a new project this afternoon!
              I am working on building a new T.V. stand for our house. So far, I have all the wood pieces cut out and am moving onto the wiring for the light fixtures.
              I decided to splurge and am using cherry wood for the frame. The family is very excited!</p></div>
                <p><input type="text" placeholder="Reply..." style="width:100%; padding-left:2%; padding-right:2%"></p>
          </div>

          <div class="post">
              <div class="col-sm-3">
                <img src="/static/img/copy1.png">
              </div>
              <div class="col-sm-9">
                <p>Jerry Seinfeld</p>
              </div>

            <div><p id="post-text">This week at Microsoft we launched a new sustainability program. We have been wanting to lower our water consumption levels to lead the way in carbon
              neutral emissions. I am in charge of the Water Risk Monetizer tool operations. These duties include...</p></div>
                <p><input type="text" placeholder="Reply..." style="width:100%;"></p>
          </div>

          <div class="post">
              <div class="col-sm-3">
                <img src="/static/img/copy1.png">
              </div>
              <div class="col-sm-9">
                <p>George Constanza</p>
              </div>

            <div><p id="post-text">Tonight I am going to the opera, Pagliaccio. I have two extra tickets if anyone wants to join. If someone claims the tickets, they also put tickets on
              sale for 25% off! Message me if you would like to come join!</p></div>
                <p><input type="text" placeholder="Reply..." style="width:100%;"></p>
          </div>

        </div>

        <div class="col-md-2" style="border:1px black solid;">

          <div><p class="text-center">People You May Know</p></div>

          <div class="row">
            <div class="col-sm-2">
              <img src="/static/img/copy1.png">
            </div>
            <div class="col-sm-10">
              <p><b>Elaine Benes</b><br>Senior Advisor<br>Boeing</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <img src="/static/img/copy1.png">
            </div>
            <div class="col-sm-10">
              <p><b>Cosmo Kramer</b><br>Principle Integration Designer<br>Dell</p>
            </div>
          </div>

        </div>

    </div>

  </div>
</div>
{% endblock content %}
